<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581592622100-ef7vhar3mr87ret9ntm05bmf9hk9dnk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581592622100-ef7vhar3mr87ret9ntm05bmf9hk9dnk9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581592622100-4t798l4en2c1uupt3bv0dop68c2nccaj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-UeP7_gCqrMWBxsRI2E6GJllKiJFu3vI</string>
	<key>GCM_SENDER_ID</key>
	<string>581592622100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malvin.agent</string>
	<key>PROJECT_ID</key>
	<string>malvin-df21d</string>
	<key>STORAGE_BUCKET</key>
	<string>malvin-df21d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581592622100:ios:7c674a1c45a9b0afa53301</string>
	<key>DATABASE_URL</key>
	<string>https://malvin-df21d-default-rtdb.firebaseio.com</string>
</dict>
</plist>